

head{
	float: left;
}
body{
	margin: 8%;
	/*position: absolute;*/
    font-family:gothamhtf-book;
    font-size: 1.5em;
    color: #4A4A4A;
}
section{
  float: left;
    line-height: 1.8em;
    font-size: 12pt;    
}
section p::first-letter {  
  font-size: 3em;
}
.menu{	
	width: 100%;
	float: left;
  margin-bottom: 2%;
}
.menu img{
	border-radius: 0!important;
	width: 10%!important;
	height: 74px!important;
	border: none!important;
}

.container {
    display: inline-block;
    cursor: pointer;   
    
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #BD10E0;
    margin: 6px 0;
    transition: 0.4s;
}

ul{
  list-style: none;
  font-size: large;
  margin-left: 26px;
  margin-top: 50px;
  margin-bottom: 15%;
}
ul li:first-child{  
      border-bottom: 1px solid #979797;
    padding-bottom: 30px;
}
ul li{
      margin-bottom: 14px;
    padding-bottom: 20px;
    margin-top: 30px;
}

.arrow{
  border-radius: 0!important;
    /*width: 4%!important;
    height: 50px!important;*/
    border: none!important;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 5%;
    font-size: 32px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFkpXl6n0d5dimLYkvWS1AKEZe-4owcThJM2VGVIN6jpB2FyG_gQ');  
}
.title{
  font-size: 50px;
    position: relative;
    bottom: -100px;
    color: #4A90E2;
}
table p{
      float: right;
    position: relative;
    bottom: -150px;
    text-decoration: underline;
    font-size: 30px;
}
table .left{
  float: left;
}
table{
  width: 100%;
}
table img{
  width: 100%;
  height: 500px;
}

.envolve h4{
    float: left;    
    width: 60%; 
    margin-bottom:0px;  
    margin-top: 10px; 
}
.envolve h5{	  
    width: 60%;
    float: left;
    margin-top: 10px;
    font-weight: lighter;
}

.envolve img	{
	 float: left;
    margin-right:10%;
	width: 70px;    
    height: 70px;
    border-radius: 100%;
    margin: 2%;
}

.collage img{
	margin: auto;    
    display: block;
    width: 60%;
}

@font-face {
  font-family: "gothamhtf-book";
  src:url("fonts/gothamhtf-book.eot");
  src:url("fonts/gothamhtf-book.eot?#iefix") format("embedded-opentype"),
    url("fonts/gothamhtf-book.ttf") format("truetype"),
    url("fonts/gothamhtf-book.woff") format("woff"),
    url("fonts/gothamhtf-book.svg#gothamhtf-book-webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  float: left;
  top: -100px;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 10px 20px;
    background-color: #BD10E0;
    color: white;
    float: right;
}

.modal-body {padding: 2px 16px;}

