section{
	float: left;
	margin-top: 5%;
    line-height: 1.6em;
    font-size: 12pt;    
}
section p::first-letter {  
  font-size: 2.2em;
}

head{
	float: left;
}
body{
	margin: 8%;
	/*position: absolute;*/
    font-family:gothamhtf-book;
    font-size: 1.5em;
    color: #4A4A4A;
}
.menu{	
	width: 100%;
	float: left;
}
.menu img{
	border-radius: 0!important;
	width: 10%!important;
	height: 36px!important;
	border: none!important;
}
.arrow{
  border-radius: 0!important;
    /*width: 4%!important;
    height: 50px!important;*/
    border: none!important;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 5%;
    font-size: 32px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFkpXl6n0d5dimLYkvWS1AKEZe-4owcThJM2VGVIN6jpB2FyG_gQ');  
}
.title{
  font-size: 50px;
    position: relative;
    bottom: -100px;
    color: #4A90E2;
}
table p{
      float: right;
    position: relative;
    bottom: -150px;
    text-decoration: underline;
    font-size: 30px;
}
table .left{
  float: left;
}
table{
  width: 100%;
}
table img{
  width: 100%;
  height: 500px;
}

h5{
  margin-bottom: 10px;
}
.envolve h4{
	    border: 1px solid blue;
    width: 40%;
    float: left;
}
.envolve .menu{
	margin-bottom: 2%;
}
.envolve img	{
    float: left;
    margin-right:10%;
    width: 70px;    
    height: 70px;
    border-radius: 100%;
    margin: 2%;
}

.collage img{
	margin: auto;    
    display: block;
    width: 60%;
}

@font-face {  
  font-family: "gothamhtf-book";
  src:url("fonts/gothamhtf-book.eot");
  src:url("fonts/gothamhtf-book.eot?#iefix") format("embedded-opentype"),
    url("fonts/gothamhtf-book.ttf") format("truetype"),
    url("fonts/gothamhtf-book.woff") format("woff"),
    url("fonts/gothamhtf-book.svg#gothamhtf-book-webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
